* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --gold: rgb(245, 210, 121)
}

.bold {
  font-weight: 700;
}

.gold {
  color: rgb(245, 210, 121);
}

.light-green {
  color: lightgreen
}

button {
  cursor: pointer;
}
